@charset "UTF-8";
/********************** トップページのスタイル **********************/
:root{
	--green1: #2DE693;
	--green2: #DCF645;
	--green3: #CBF0DA;
	--green4: #E0F2A5;
	--yellow: #FFF56B;
	--brown: #654214;
	--beige: #EDE5D3;
	--bg: #FCFDEB;
	--inline18: 1316px;
	--inline70: 1420px;
}
.main {
	width: 100%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	padding-top: 60px;
}
.main::before{
	content: "";
	position: absolute;
	width: 100%;
	height: 60px;
	background-color: var(--beige);
	border-radius: 60px 60px 0 0;
	top: 0;
	left: 0;
}
.main h2 {
	color: var(--brown);
	font-size: 175%;
	text-align: center;
	position: relative;
	padding-top: 3rem;
	margin-block: 60px 30px;
}
.main h2::before{
	content: "";
	position: absolute;
	width: 2.5rem;
	height: 2.5rem;
	background: url(img/main_h2_illust1.svg) no-repeat center / contain;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}
.inbody.faq .main .zone01_in > section:nth-child(1) > h2:nth-child(1),
.inbody.faq .main .zone02_in > section:nth-child(1) > h2:nth-child(1){
	border-radius: 8px;
}
.main h2 a {
	color: #fff;
	display: inline-block;
}
#main_outline .main h2 + button[type="button"].ac_display{
	border-color: #fff;
	top: 16px;
}
.main li {
	position: relative;
	padding-left: 16px;
}
.main li::before {
	display: block;
	content: '';
	position: absolute;
	top: .5em;
	left: 0;
	width: 6px;
	height: 6px;
	border-right: 1px solid #777;
	border-bottom: 1px solid #777;
	transform: rotate(-45deg);
}
.main .inner12{
	max-width: var(--inline18);
	margin-inline: auto;
	padding-inline: 18px;
}
@media only screen and (max-width: 1024px) {
	.main{
		padding-top: 50px;
		padding-bottom: 24px;
		padding-inline: 0;
	}
	.main::before{
		height: 50px;
		border-radius: 50px 50px 0 0 ;
	}
}
@media screen and (max-width: 768px) {
	.main h2{
		font-size: 1.5rem;
	}
}
/**** 重要なお知らせのスタイル ****/
.main .important {
	margin-top: 24px;
}
.main .important h2 {
	background: #b13800;
	color: #fff;
}
.main .important_lower {
	border: 2px solid #b13800;
	border-top: none;
	padding: 4px 16px 16px;
	border-radius: 0 0 8px 8px;
}
.main .important .more li a{
	border: 2px solid #b13800;
}
.main .important .more li a:hover{
	background: #FFEEE6;
}
/**** 画像リストのスタイル ****/
.main .ilist {
	margin-top: 24px;
}
.main .ilist h2{
	border-radius: 8px;
}
.main .ilist_lower ul {
	display: flex;
	flex-flow: row wrap;
}
.main .ilist_lower ul > li {
	padding-left: 0;
	margin-right: 12px;
	text-align: center;
	width: calc((100% - 60.1px) / 6);
}
.main .ilist_lower ul > li:nth-of-type(6n) {
	margin-right: 0;
}
.main .ilist_lower ul > li::before {
	display: none;
}
.main .ilist_lower ul > li a {
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
	color: #333;
	font-weight: 600;
}
.main .ilist_lower ul > li .ilist_in{
	background: #fff;
	padding-block: 1.25em;
	padding-inline: 0.5em;
	height: 100%;
	width: 100%;
	border-radius: 15px;
	border: 1px solid var(--brown);
	box-shadow: 4px 4px 0 0 var(--yellow);
	transition: .2s;
}
.main .ilist_lower ul > li a:hover .ilist_in{
	background: var(--yellow);
	box-shadow: none;
}
.main .ilist_lower .ilist_right {
	margin-top: 1.375em;
}
.main .ilist_lower ul > li .ilist_title {
	text-align: center;
}
.main .ilist_lower ul > li .ilist_text {
	text-align: left;
	font-size: 85%;
	margin-top: 0;
}
.main .ilist .ilist_title{
	margin-top: 0;
}
	@media only screen and (max-width: 1024px) {
		.main .ilist_lower ul > li {
			width: calc((100% - 24.1px) / 3);
		}
		.main .ilist_lower ul > li:nth-of-type(3n) {
			margin-right: 0;
		}
	}
	@media only screen and (max-width: 480px) {
		.main .ilist_lower ul > li:nth-of-type(n) {
			margin-right: 0;
			width: 100%;
		}
	}
/**** 画像リスト2のスタイル ****/
.main .ilist2 {
	margin-top: 24px;
}
.main .ilist2 h2{
	border-radius: 8px;
}
.main .ilist2_lower ul {
	display: flex;
	flex-flow: row wrap;
	gap: 1.25em 1.0625em;
}
.main .ilist2_lower ul > li {
	padding-left: 0;
	margin: 0;
	width: calc((100% - 3.1875em) / 4);
}
.main .ilist2_lower ul > li:nth-of-type(4n) {
	margin-right: 0;
}
.main .ilist2_lower ul > li::before {
	display: none;
}
.main .ilist2_lower ul > li a {
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
	color: #333;
	font-weight: 600;
}
.main .ilist2_lower ul > li .ilist_in{
	background: #fff;
	padding-block: 15px;
	padding-inline: 25px;
	display: flex;
	align-items: center;
	gap: 20px;
	height: 100%;
	width: 100%;
	border-radius: 15px;
	border: 1px solid var(--brown);
	box-shadow: 4px 4px 0 0 var(--beige);
	transition: .2s;
}
.main .ilist2_lower ul > li a:hover .ilist_in{
	background: var(--beige);
	box-shadow: none;
}
.main .ilist2_lower ul > li .ilist_left {
	align-self: center;
	width: 3.25em;
}
.main .ilist2 .ilist_title{
	margin-top: 0;
}
@media only screen and (max-width: 1024px) {
	.main .ilist2_lower ul > li {
		width: calc((100% - (1.0625em * 2)) / 3);
	}
}
@media only screen and (max-width: 768px) {
	.main .ilist2_lower{
		font-size: 0.875em;
	}
}
@media only screen and (max-width: 500px) {
	.main .ilist2_lower ul{
		row-gap: 1em;
	}
	.main .ilist2_lower ul > li {
		width: 100%;
	}
}
/**** スライドショー（画像リスト） ****/
.slider1{
	margin-top: 24px;
}
.slider1 h2{
	padding: 0;
	margin: 0;
	height: 0;
}
.slider1 .pagination-box{
	position: absolute;
    bottom: 25px;
    right: 30px;
}
@media screen and (max-width: 768px) {
	.slider1 .pagination-box{
		position: static;
		margin-top: 0.625rem;
	}
}
/**** スライドショー2（画像リスト） ****/
.slider2{
	margin-top: 24px;
}
.slider2 h2{
	border-radius: 8px;
}
.slider2 .splide__arrows{
	padding: 0 4em;
}
.slider2 .splide__track{
	margin-top: 16px;
}
.splide.slider2 li a {
	display: block;
	padding: 0;
	height: 100%;
	width: 100%;
	text-decoration: underline;
	color: #333;
	font-size: 1.125em;
}
.splide.slider2 li a:hover{
	text-decoration: none;
}
.splide.slider2 .ilist_left img{
	border: 1px solid var(--brown);
	border-radius: 15px;
}

.splide.slider2 .window{
	position: relative;
	right: 0;
	top: 0;
	margin:4px 0 0;
}
.slider2 .pagination_inner{
	justify-content: center;
	margin-top: 1.875rem;
}

@media screen and (max-width: 768px) {
	.slider2 .pagination_inner{
		margin-top: 1.25rem;
	}
}
/**** 分類のスタイル ****/
.main .category {
	margin-top: 24px;
}
.main .category2 {
	margin-top: 24px;
}
.main .category3 {
	margin-top: 24px;
}
.main .category4 {
	margin-top: 24px;
}
.main .category5 {
	margin-top: 24px;
}
.main .category_3_ul {
	font-size: 85%;
}
.main .category_lower {
	border: 2px solid #007bbb;
	border-top: none;
	padding: 4px 16px 16px;
	border-radius: 0 0 8px 8px;
}
.main .category_lower .close{
	padding: 16px 0 0;
}
/**** 各課の窓口のスタイル ****/
.main .kakuka {
	margin-top: 24px;
}
/**** 催し物・講座のスタイル ****/
.main .event {
	margin-top: 24px;
}
.main .event_lower {
	border: 2px solid #007bbb;
	border-top: none;
	padding: 4px 16px 16px;
	border-radius: 0 0 8px 8px;
}
.main .event_lower li {
	padding-left: 0;
}
.main .event_lower li::before {
	display: none;
}
.main .event_lower li .eve_cate {
	display: inline-block;
	font-size: 85%;
	background: #007bbb;
	color: #fff;
	border-radius: 4px;
	padding: 4px 4px 2px;
	margin-right: 8px;
	text-align: center;
	vertical-align: top;
	line-height: 1;
	min-width: 80px;
}
.main .event_lower .event_month li {
	margin-right: 8px;
	display: inline-block;
	font-size: 130%;
	margin-top: 8px;
	margin-bottom: 4px;
}
.main .event_lower .event_month img {
	vertical-align: middle;
}
.main .event_month li.pre a,
.main .event_month li.next a{
	display: inline-block;
	background: #E6E6E6;
	border: 1px solid #777;
	font-size: 81.25%;
	margin-bottom: 10px;
	text-decoration: none;
	padding: 0 5px;
	position: relative;
	border-radius: 4px;
}
.main .event_month li.pre a{
	padding-left: 16px;
}
.main .event_month li.next a{
	padding-right: 15px;
}
.main .event_month li.pre a::before,
.main .event_month li.next a::before{
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -4px;
	width: 0;
	height: 0;
	border-style: solid;
}
.main .event_month li.pre a::before{
	left: 4px;
	border-width: 4px 6px 4px 0;
	border-color: transparent #555 transparent transparent;
}
.main .event_month li.next a::before{
	right: 4px;
	border-width: 4px 0 4px 6px;
	border-color: transparent transparent transparent #555;
}
/**** イベントカレンダーのスタイル ****/
.main .calendar {
	margin-top: 24px;
}
.main .calendar_lower {
	overflow: auto;
	border: 2px solid #007bbb;
	border-top: none;
	padding: 4px 16px 16px;
	border-radius: 0 0 8px 8px;
}
.main .calendar_lower li {
	padding-left: 0;
}
.main .calendar_lower li::before {
	display: none;
}
.main .calendar_lower .event_month li {
	margin-right: 8px;
	display: inline-block;
}
.main .calendar_lower .event_month img {
	vertical-align: middle;
}
.main .calendar table {
	width: 100%;
}
.main .calendar caption {
	position: absolute;
	display: none;
}
.main .calendar th {
	border: 1px solid #777;
	text-align: center;
	width: calc(100%/7)
}
.main .calendar th img{
	vertical-align: middle;
}
.main .calendar td {
	border: 1px solid #777;
	text-align: center;
}
.main .calendar td a{
	display: inline-block;
}
.main .calendar .sun {
	background: #ffd8d6;
}
.main .calendar .sat {
	background: #d9e4fc;
}
.main .calendar .today {
	background: #c9171e;
	color: #fff;
}
.main .calendar .sun span{
	display: block;
	margin-top: 2px;
	font-size: 85%;
}
.main .calendar .today > strong,
.main .calendar .today > a,
.main .calendar .today > a strong {
	color: #fff;
}
/**** 新着情報のスタイル ****/
.main .new {
	margin-top: 24px;
}
.main .new_lower {
	background-color: var(--green4);
	padding: 78px;
	/* padding-top: 60px; */
	border-radius: 60px;
	padding-right: calc((100% - 1280px) / 2);
}
.main .new div.date{
	margin-left: 0;
	font-size: 1em;
	margin-bottom: 0.75em;
}
.main .new_lower ul{
	/* padding-right: ; */
}
.main .new ul:not(.more) li{
	border-bottom: 1px solid var(--brown);
	padding-inline: 0;
	padding-bottom: 0.5em;
	margin-top: 1.125em;
	display: flex;
	flex-direction: column;
}
.main .new ul:not(.more) li:first-child{
	margin-top: 0;
}
.main .new ul:not(.more) li::before{
	display: none;
}
.main .new ul li a{
	overflow: hidden;
	width: fit-content;
	color: #333;
}
/* .main .new ul li.catch_lst{
	padding: 0;
} */
.main .new ul li.catch_lst::before{
	display: none;
}
.main .new ul li.catch_lst a{
	display: flex;
	gap: 1.5em;
}
.main .new ul li.catch_lst .new_lst {
	width: calc(100% - 192px);
}
.main .new ul li.catch_lst .new_img {
	width: 180px;
	text-align: right;
	margin: 0;
}
.main .new ul li.catch_lst .new_img img{
	border: 1px solid var(--brown);
}
@media only screen and (max-width: 1024px){
	.main .new_lower{
		padding-inline: 78px;
	}
	.main .new ul li.catch_lst .new_lst {
		width: calc(100% - 152px);
	}
	.main .new ul li.catch_lst .new_img {
		width: 140px;
	}
}
@media screen and (max-width: 500px) {
	.main .new_lower{
		padding-inline: 2.25rem;
		padding-block: 50px;
	}
	.main .new ul:not(.more) li{
		font-size: 0.875em;
	}
	.main .new div.date{
		margin-bottom: 0.5em;
	}
}
/**** トピックスのスタイル ****/
.main .topics {
	margin-top: 24px;
}
.main .topics_lower {
	border: 2px solid #007bbb;
	border-top: none;
	padding: 4px 16px 16px;
	border-radius: 0 0 8px 8px;
}
.main .topics div.date{
	margin-left: 0;
}
.main .topics ul li.catch_lst .topics_lst {
	margin-right: 100px;
}
.main .topics ul li.catch_lst .topics_img {
	float: right;
	margin-top: 0;
}
/**** 新着情報・トピックス一覧のスタイル ****/
.main .more{
	font-size: 1.125em;
	margin-top: 16px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin-left: auto;
}
.main .more li{
	padding: 0;
	min-width: 252px;
}
.main .more li::before{
	display: none;
}
.main .more li a{
	color: #333;
	background-color: var(--green1);
	background-image: url(img/main_link_icon_wh.svg);
	background-repeat: no-repeat;
	background-position: right 0.9375rem center;
	background-size: 1.3125rem auto;
	border: 1px solid var(--brown);
	border-radius: 99px;
	display: flex;
	align-items: center;
	padding-block: 1.125rem;
	padding-inline: 2.5rem 3rem;
	text-align: center;
	text-decoration: none;
	width: 100%;
	font-weight: 600;
	transition: .2s;
	box-shadow: 4px 4px 0 0 var(--yellow);
}
.main .more li a:hover{
	background-color: var(--yellow);
	box-shadow: none;
}
.main .more li.rss span{
	background: url(../images/rss_o.svg) no-repeat left center;
	background-size: 12px 12px;
	padding-left: 20px;
}
	@media only screen and (max-width: 500px) {
		.main .more{
			max-width: 100%;
			font-size: 0.875em;
		}
		.main .more li{
			margin-left: 0;
			width: 100%;
			min-width: auto;
		}
		.main .more li a{
			padding-block: 12px;
			padding-left: 16px;
		}
	}
/**** タブ切り替えのスタイル ****/
.main .free_tab{
	margin-top: 24px;
}
.main .free_tab .tab_index{
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid #007bbb;
}
.main .free_tab .tab_index .tab_change{
	text-align: center;
	display: flex;
	font-size: 120%;
	width: 49.5%;
}
.main .free_tab .tab_index .tab_change a{
	border: 2px solid #007bbb;
	border-bottom: 0;
	display: inline-block;
	padding: 8px 10px 6px;
	width: 100%;
	text-decoration: none;
	border-radius: 8px 8px 0 0;
}
.main .free_tab .tab_index .tab_change.is-active a{
	background: #007bbb;
}
.main .free_tab .tab_index .tab_change a:focus-visible{
	outline-offset: -2px;
}
.main .free_tab .tab_index .tab_change.is-active a > strong {
	color: #fff;
}
.main .free_tab li.tab_panel{
	margin: 0;
	padding: 0;
}
.main .free_tab li.tab_panel::before{
	display: none;
}
.main .free_tab h2{
	background: none;
	position: absolute;
	z-index: -1;
	color: #333;
  padding: 0;
  font-size: 100%;
}
.main .free_tab .tab_panel > *{
	margin-top: 0;
} 
.main .free_tab .new_lower,
.main .free_tab .topics_lower {
	background: #fff;
}
/**** ピックアップ1のスタイル ****/
.main .pickup {
	margin-top: 24px;
}
.main .pickup_lower {
	border: 2px solid #007bbb;
	border-top: none;
	padding: 4px 16px 16px;
	border-radius: 0 0 8px 8px;
}
.main .pickup_lower .pickup_sub {
	margin-top: 20px;
}
.main .pickup_lower .pickup_sub:first-child {
	margin-top: 12px;
}
.main .pickup_lower .pickup_sub h3 {
	background: #e8f4f9;
	padding: 4px 6px;
	font-size: 110%;
	border-radius: 8px;
}
.inbody.faq .main .pickup_lower .pickup_sub h3{
	border-radius: 0px;
}
.main .pickup_lower .pickup_sub p {
	font-size: 85%;
	margin-top: 6px;
}

/**** ピックアップ2のスタイル ****/
.main .pickup2 {
	margin-top: 24px;
}
.main .pickup2_lower {
	border: 2px solid #007bbb;
	border-top: none;
	padding: 4px 16px 16px;
	border-radius: 0 0 8px 8px;
}
.main .pickup2_lower .pickup_sub {
	margin-top: 20px;
}
.main .pickup2_lower .pickup_sub:first-child {
	margin-top: 12px;
}
.main .pickup2_lower .pickup_sub h3 {
	background: #e8f4f9;
	padding: 4px 6px;
	font-size: 110%;
	border-radius: 8px;
}
.inbody.faq .main .pickup2_lower .pickup_sub h3{
	border-radius: 0px;
}
.main .pickup2_lower .pickup_sub p {
	font-size: 85%;
	margin-top: 6px;
}
/**** ランキングのスタイル ****/
.main .ranking{
	margin-top: 24px;
}
.main .ranking_lower {
	border: 2px solid #007bbb;
	border-top: none;
	padding: 4px 16px 16px 10px;
	border-radius: 0 0 8px 8px;
}
.main .ranking_lower ol li{
	list-style-type: decimal;
	padding-left: 0;
	margin-left: 40px;
}
.main .ranking_lower ol li::before{
	display: none;
}
/**** 人口・世帯数のスタイル ****/
.main .j_s {
	margin-top: 24px;
}
.main .j_s_lower {
	border: 2px solid #007bbb;
	border-top: none;
	padding: 4px 16px 16px;
	border-radius: 0 0 8px 8px;
}
.main .j_s li {
	padding-left: 0;
}
.main .j_s li::before {
	display: none;
}
.main .j_s li b {
	margin-right: 8px;
}
.main .j_s p {
	font-size: 85%;
}
/**** バナー広告のスタイル ****/
.main .bana {
	background-color: #fff;
	border: 2px solid var(--green1);
	border-radius: 30px;
	padding: 40px 30px;
}
.main .bana_h2{
	display: flex;
	flex-wrap: wrap;
	gap: 1.875rem;
	font-size: 1.5em;
	align-items: center;
}
.main .bana h2{
	padding: 0;
	font-size: 100%;
	border-radius: 0;
	margin: 0;
}
.main .bana h2::before{
	display: none;
}
.main .bana_h2 p {
	font-size: 0.875rem;
	font-weight: normal;
	margin: 0;
}
.main .bana .notes{
	margin-block: 1em 1.625em;
}
.main .bana_lower {
	text-align: center;
}
.main .bana .bana_img {
	display: inline-block;
}
.main .bana ul {
	display: flex;
	/* justify-content: center; */
	flex-wrap: wrap;
	gap: 1.125rem;
}
.main .bana li {
	padding-left: 0;
	margin: 0;
	width: 270px;
}
.main .bana li::before {
	display: none;
}
.main .bana li a{
	display: block;
	transition: .2s;
}
.main .bana li a:hover{
	opacity: 0.8;
}
.main .bana li img{
	width: 100%;
}
.main .bana li .window {
	margin-top: 5px;
}
@media only screen and (max-width: 1024px) {

	.main .bana ul{
		gap: 0.625em;
	}
	.main .bana li {
		width: calc((100% - (0.625em * 2)) / 3);
	}
}
@media screen and (max-width: 768px) {
	.main .bana{
		padding: 32px 24px;
	}
	.main .bana .notes{
		margin-bottom: 1.5em;
	}
}
@media only screen and (max-width: 480px) {
	.main .bana li {
		width: calc(50% - (0.625em / 2));
	}
	.main .bana_h2 p{
		margin-left: 0px;
	}
	}
/**** RSSのスタイル ****/
.main .rss {
	margin-top: 24px;
}
.main .rss .rss_lower{
	border: 2px solid #007bbb;
	border-top: none;
	padding: 4px 16px 16px;
	border-radius: 0 0 8px 8px;
}
.main .rss li {
	padding-left: 0;
}
.main .rss li::before {
	display: none;
}
/**** 外部RSSのスタイル ****/
.main .rssfide{
	margin-top: 24px;
}
.main .rssfide .h3{
	overflow: hidden;
}
.main .rssfide .h3 h3 {
	float: left;
	margin: 10px 12px 10px 0;
}
.main .rssfide .h3 p{
	float: left;
	padding: 8px 0;
	margin: 0;
}
.main .rssfide .rssfide_lower{
	border: 2px solid #007bbb;
	border-top: none;
	padding: 4px 16px 16px;
	border-radius: 0 0 8px 8px;
}
.main .rssfide .rssfide_management{
	background: #efefef;
	font-size: 85%;
	padding: 8px;
	margin-top: 12px;
}
.main .rssfide .rssfide_management .title{
	margin: 0 0 8px;
	padding: 0 0 4px;
	border-bottom: 1px solid #777;
}
.main .rssfide .rssfide_management .rssfide_copy{
	margin-top: 6px;
}
.main .rssfide .rssfide_management li{
	padding: 0;
	margin: 0;
}
.main .rssfide .rssfide_management li::before{
	display: none;
}
.main .rssfide .rssfide_list li p{
	padding: 0;
	margin: 0;
	width: 100%;
}
.main .rssfide .rssfide_list li .list p{
	font-size: 85%;
	margin-top: 4px;
}
/**** リンク・画像領域（画像）のスタイル ****/
.main .image {
	text-align: center;
	margin-top: 24px;
}
.main .image h2 {
	background: none;
	padding: 0;
}
.main .image a{
	display: inline-block;
}
.main .image .image_img {
	display: block;
}
.main .image img{
	border: 1px solid #777;
}
/**** リンク・画像領域（テキスト）のスタイル ****/
.main .link {
	margin-top: 24px;
}
/**** RSS一覧のスタイル ****/
.main .rss_list {
	margin-top: 24px;
}
/**** オプションのスタイル ****/
.main .option {
	margin-top: 24px;
}
.main .option_lower {
	border: 2px solid #007bbb;
	border-top: none;
	padding: 4px 16px 16px;
	border-radius: 0 0 8px 8px;
}
/**** FAQ（よくある質問）のスタイル ****/
.main .faq {
	margin-top: 24px;
}
/**** 新着FAQ ****/
.main .faq_new {
	margin-top: 24px;
}
.main .faq_new_lower {
	border: 2px solid #007bbb;
	border-top: none;
	padding: 4px 16px 16px;
	border-radius: 0 0 8px 8px;
}
.main .faq_new div.date{
	margin-left: 0;
	width: 100%;
}
.main .faq_new_lower p {
	font-size: 85%;
	margin-top: 4px;
}
/**** 見られているFAQのスタイル ****/
.main .popular {
	margin-top: 24px;
}
.main .popular_lower {
	border: 2px solid #007bbb;
	border-top: none;
	padding: 4px 16px 16px;
	border-radius: 0 0 8px 8px;
}
.main .popular_lower p {
	font-size: 85%;
	margin-top: 4px;
}
/******************** レイアウトCSS ********************/
.zone01_in{
	padding: 0 20px;

}
/********************** 領域1個別のスタイル **********************/
.zone01{
	padding-bottom: 100px;
	background-color: var(--beige);
	border-bottom: 1px solid var(--brown);
}
.zone01 .visArea{
	padding-inline: 70px;
	grid-template-columns: 27.6% 1fr;
	column-gap: calc((35 / 1500) * 100vw);
	margin-inline: auto;
	max-width: 1420px;
}
.zone01 .visArea > *{
	align-self: stretch;
}
.zone01 .image.ctm-kosodate{
	position: relative;
	margin: 0;
}
.zone01 .image.ctm-kosodate.pc{
	display: none;
}
.zone01 .image.ctm-kosodate h2{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.zone01 .image.ctm-kosodate h2::before{
	display: none;
}
.zone01 .image.ctm-kosodate a{
	display: block;
	width: 100%;
	height: 100%;
}
.zone01 .image.ctm-kosodate .image_img{
	width: 100%;
	height: 100%;
}
.zone01 .image.ctm-kosodate img{
	display: block;
	border-radius: 30px;
	border: 1px solid var(--brown);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.zone01 .image.ctm-kosodate.pc img{
    aspect-ratio: 375 / 572;
}
.zone01 .image.ctm-kosodate .window{
	position: absolute;
	left: 15px;
	bottom: 15px;
}
.zone01 .slider1{
	margin: 0;
}
.zone01 .slider1 .splide__track{
	border: 1px solid var(--brown);
	border-radius: 30px;
	overflow: hidden;
}
.zone01 .slider1 img{
	border: none;
}

/* 人生の出来事から探す */
.zone01_in{
	max-width: 1316px;
	margin-inline: auto;
}
.main .zone01_in .life .ilist_lower ul{
	gap: 1rem;
}
.main .zone01_in .life .ilist_lower ul > li{
	margin: 0;
	flex: 1;
}
.main .zone01_in .life .ilist_lower ul > li .ilist_in .ilist_left img{
	width: min(93px, calc((64 / 768) * 100vw));
}

@media print, screen and (min-width: 1025px) {
	.main .zone0102 .zone01 .ilist_lower ul > li{
		margin-right: 0;
		width: 100%;
	}
	.main .zone0102 .zone01 .ilist2_lower ul > li{
		margin-right: 0;
		width: 100%;
	}
	.main .zone0102 .zone01 .more li{
		margin-left: 0;
		width: 100%;
	}
	.main .zone0102 .zone01 .bana ul{
		justify-content: center;
	}
}
@media screen and (min-width: 769px) {
	.zone01 .image.ctm-kosodate.pc{
		display: block;
	}
	.zone01 .image.ctm-kosodate.sp{
		display: none;
	}
}
@media screen and (max-width: 1024px) {
	.zone01 .visArea{
		padding-inline: 30px;
	}
	.main .zone01_in .life .ilist_lower ul > li{
		flex: none;
		width: calc((100% - 3rem) / 4);
	}
}
@media screen and (max-width: 768px) {
	.zone01 .visArea{
		grid-template-columns: 1fr;
		row-gap: 24px;
	}
	.zone01 .slider1 .splide__track,
	.zone01 .image.ctm-kosodate img{
		border-radius: 20px;
	}
	.zone01 .image.ctm-kosodate{
		grid-row: 2/ 3;
	}
	.main .ilist_lower .ilist_right{
		margin-top: 1em;
	}
	.main .zone01_in .life .ilist_lower ul > li .ilist_in .ilist_left img{
		width: 73px;
	}

}
@media screen and (max-width: 500px) {
	.zone01{
		padding-bottom: 80px;
	}
	.main .zone01_in .life .ilist_lower ul li{
		width: calc(50% - 0.5rem);
	}

}

/********************** 領域2個別のスタイル **********************/

/* 目的から探す */
.main .zone02 .purpose h2::before{
	background-image: url(img/main_h2_illust2.svg);
}

/* 検索機能エリア */
.main .zone02 .srchArea{
	margin-top: 60px;
}
.main .zone02 .srchArea h2{
	padding: 0;
    margin: 0;
    height: 0;
}
.main .zone02 .srchArea .wrap{
	display: flex;
	gap: 1.5em 1.25em;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	border-radius: 999px;
	padding: 20px 40px;
	border: 3px solid var(--green1);
	min-height: 138px;
}
.main .zone02 .srchArea .src_box {
    width: 480px;
    background-color: var(--beige);
    border: 1px solid var(--brown);
    border-radius: 99px;
    padding: 2px;
	font-size: 1.125em;
}
.main .zone02 .srchArea .src_box .q{
	height: 52px!important;
	width: calc(100% - 4.6875em)!important;
}
.main .zone02 .srchArea .src_box #search_button_2{
	width: 4.6875em;
    min-height: 52px;
    margin: 0;
    padding: 0;
    padding-left: 1.1875em;
    background-color: var(--green1);
    background-image: url(img/main_search_icon.svg);
    background-repeat: no-repeat;
    background-position: center left 0.625em;
    background-size: 0.875em auto;
    color: #333;
    cursor: pointer;
    border: 1px solid var(--brown);
    white-space: normal;
    display: block;
    border-radius: 99px;
    font-weight: bold;
    transition: .2s;
	letter-spacing: 0.05em;
}
.main .zone02 .srchArea .src_box #search_button_2:hover{
	opacity: 0.8;
}
.main .zone02 .srchArea .ilist2_lower{
	flex: 1;
}
.main .zone02 .srchArea .ilist2_lower ul{
	gap: 0.75em;
	flex-wrap: wrap;
}
.main .zone02 .srchArea .ilist2_lower ul > li{
	margin: 0;
	width: calc((100% - (0.75em * 2)) / 3);
	/* flex: 1; */
}
.main .zone02 .srchArea .ilist2_lower ul > li .ilist_in{
	background-color: var(--green2);
	box-shadow: 4px 4px 0 0 var(--yellow);
	border-radius: 99px;
	padding: 0.875em 0.75em;
	justify-content: center;
	align-items: center;
	gap: 0.625em;
}
.main .zone02 .srchArea .ilist2_lower ul > li a:hover .ilist_in{
	background-color: var(--yellow);
	box-shadow: none;
}
.main .zone02 .srchArea .ilist2_lower ul > li .ilist_left{
	width: 1.375em;
	display: flex;
	justify-content: center;
	align-items: center;
}


/* 新着情報 */
.main .zone02 .new{
	margin-top: 120px;
	padding-bottom: 140px;
	position: relative;
	z-index: 1;
}
.main .zone02 .new::before{
	content: "";
	position: absolute;
	width: 465px;
	height: 541px;
	background: url(img/main_bg_img1.svg) no-repeat top left / contain;
	bottom: 2em;
	left: calc(((100% - 1316px) / 2) - 30px);
	z-index: -1;
}
.main .zone02 .new .flex-l{
	width: fit-content;
	padding-left: calc((100% - 1316px) / 2);
	margin-right: 78px;
}
.main .zone02 .new .flex-l h2{
	text-align: left;
	margin: 0;
	padding: 0;
}
.main .zone02 .new .flex-l h2::before{
	display: none;
}
.main .zone02 .new .flex-l .more{
	justify-content: flex-start;
	margin-top: 2.25rem;
}
.main .zone02 .new .flex-l .more li{
	margin: 0;
}
.main .zone02 .new .flex-r{
	width: calc(100% - ((100% - 1316px) / 2));
}
.main .new_lower{
	border-radius: 60px 0 0 60px;
}

/* 町の情報 */
.main .zone02 .info{
	padding-bottom: 120px;
}
.main .zone02 .info,
.main .zone02 .info h2{
	margin-top: 0;
}
.main .zone02 .info .gridArea{
	grid-template-columns: 1fr 396px;
	gap: 1.5em;
}
.main .zone02 .info .infoItem1 ul > li .ilist_in{
	padding: 0.625rem;
	font-size: 1.125em;
}
.main .zone02 .info .infoItem1 ul > li .ilist_left{
	width: 9.375rem;
	height: 9.375rem;
}
.main .zone02 .info .infoItem1 ul > li .ilist_left img{
	border: 1px solid var(--brown);
	border-radius: 10px;
	aspect-ratio: 1 /1;
	object-fit: cover;
}
.main .zone02 .info .infoItem2{
	grid-column: 2 /3;
	grid-row: 1 / 3;
}
.main .zone02 .info .ilist2_lower ul{
	gap: 1.5em;
	height: 100%;
}
.main .zone02 .info .ilist2_lower ul > li{
	width: calc(50% - 0.75em);
}
.main .zone02 .info .infoItem2 ul > li{
	width: 100%;
	flex: 1;
}
.main .zone02 .info .infoItem2 ul > li a{
	background-color: var(--green3);
	border: 1px solid var(--brown);
	box-shadow: 4px 4px 0 0 var(--beige);
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.25rem 1.75rem;
	color: var(--brown);
	transition: .2s;
	height: auto;
}
.main .zone02 .info .infoItem2 ul > li a:hover{
	box-shadow: none;
	opacity: 0.8;
}
.main .zone02 .info .infoItem2 ul > li .ilist_in{
	border-radius: 999px;
	border: none;
	box-shadow: none;
	flex-direction: column;
	/* justify-content: center; */
	padding-block: 25px 55px;
	height: auto;
}
.main .zone02 .info .infoItem2 ul > li a:hover .ilist_in{
	background-color: #fff;
}
.main .zone02 .info .infoItem2 .ilist_title{
	font-size: 1.25em;
	position: relative;
	padding-top: 1.6875rem;
}
.main .zone02 .info .infoItem2 .ilist_title::before{
	content: "";
	position: absolute;
	width: 1.6875rem;
	height: 1.6875rem;
	background: url(img/main_koho_icon.svg) no-repeat center / contain;
	left: 50%;
	transform: translateX(-50%);
	top: 0;
}
.main .zone02 .info .infoItem2 ul > li .ilist_left{
	width: 11.5rem;
}
.main .zone02 .info .infoItem2 ul > li .ilist_left img{
	box-shadow: 0 5px 10px 0 rgba(51, 51, 51, 0.2);
}
.main .zone02 .info .infoItem3 ul > li .ilist_in{
	padding: 1.4375em 1.875em;
}


@media print, screen and (min-width: 1025px) {
	.main .zone0102 .zone02 .ilist_lower ul > li{
		width: calc((100% - 24.1px) / 3);
	}
	.main .zone0102 .zone02 .ilist_lower ul > li:nth-of-type(3n){
		margin-right: 0;
	}
	.main .zone0102 .zone02 .ilist2_lower ul > li{
		width: calc((100% - 12.1px) / 2);
	}
	.main .zone0102 .zone02 .ilist2_lower ul > li:nth-of-type(even){
		margin-right: 0;
	}
}
@media screen and (max-width: 1024px) {
	/* 検索機能エリア */
	.main .zone02 .srchArea{
		margin-top: 40px;
		max-width: 880px;
		margin-inline: auto;
	}
	.main .zone02 .srchArea .wrap{
		flex-wrap: wrap;
		padding-block: 40px;
		border-radius: 60px;
	}
	.main .zone02 .srchArea .src_box .q{
		height: 45px!important;
	}
	.main .zone02 .srchArea .src_box #search_button_2{
		min-height: 45px;
	}
	.main .zone02 .srchArea .ilist2_lower{
		flex: none;
		width: 100%;
		max-width: 680px;
	}

	/* 新着情報 */
	.main .zone02 .new{
		margin-top: 80px;
	}
	.main .zone02 .new .flexArea{
		flex-wrap: wrap;
	}
	.main .zone02 .new .flex-l{
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding-inline: 2.5rem 1.5rem;
		margin: 0 0 1.25rem;
	}
	.main .zone02 .new .flex-l .more{
		margin: 0;
	}
	.main .zone02 .new .flex-r{
		margin-left: 1.5em;
		width: 100%;
	}
	.main .zone02 .new::before{
		width: calc((465 / 1200) * 100vw);
		height: calc((541 / 1200) * 100vw);
		bottom: 0;
	}
	/* 町の情報 */
	.main .zone02 .info .gridArea{
		grid-template-columns: minmax(0, 1fr);
		gap: 1em;
	}
	.main .zone02 .info .ilist2_lower ul{
		gap: 1em;
	}
	.main .zone02 .info .ilist2_lower.infoItem1 ul > li{
		width: 100%;
	}
}
@media screen and (max-width: 768px) {
	/* 新着情報 */
	.main .zone02 .new::before{
		left: 0;
		width: 164px;
		height: 191px;
	}
	/* 町の情報 */
	.main .zone02 .info .infoItem1 ul > li .ilist_left{
		width: 120px;
		height: 120px;
	}
	.main .zone02 .info .infoItem2 ul > li a{
		padding-block: 1em;
		padding-inline: 2em;
	}
	.main .zone02 .info .infoItem2 ul > li .ilist_in{
		row-gap: 0.75em;
		padding-block: 20px 48px;
	}
	.main .zone02 .info .infoItem2 ul > li .ilist_left{
		width: 148px;
	}

}
@media screen and (max-width: 600px) {
	/* 検索機能エリア */
	.main .zone02 .srchArea .ilist2_lower ul{
		flex-wrap: wrap;
	}
	.main .zone02 .srchArea .ilist2_lower ul > li{
		width: 100%;
	}
	/* 町の情報 */
	.main .zone02 .info{
		padding-inline: 6px;
		padding-bottom: 80px;
	}
	.main .zone02 .info .infoItem2{
		grid-column: auto;
		grid-row: auto;
		width: 100%;
	}
	.main .zone02 .info .ilist2_lower.infoItem2 ul{
		justify-content: center;
	}
	.main .zone02 .info .ilist2_lower ul > li{
		width: 100%;
	}
}
@media screen and (max-width: 500px) {
	/* 検索機能エリア */
	.main .zone02 .srchArea .wrap{
		padding-inline: 24px;
	}

	.main .zone02 .srchArea .src_box {
		width: 100%;
	}
}

/********************** 領域3個別のスタイル **********************/
.zone03{
	background-color: var(--green4);
	padding-block: 60px 100px;
}
.zone03_in{
	max-width: 1316px;
	margin-inline: auto;
	padding-inline: 18px;
}

/* ピックアップ */
.main .zone03 .pickup h2{
	margin-top: 0;
}
.main .zone03 .pickup h2::before{
	background-image: url(img/main_h2_illust2.svg);
}
.main .zone03 .pickup .ilist2_lower ul{
	gap: 1.5em;
}
.main .zone03 .pickup .ilist2_lower ul > li{
	width: 100%;
	flex: 1;
}
.main .zone03 .pickup .ilist2_lower ul > li a{
	font-weight: 400;
	text-decoration: underline;
	transition: .2s;
}
.main .zone03 .pickup .ilist2_lower ul > li a:hover{
	text-decoration: none;
}
.main .zone03 .pickup .ilist2_lower ul > li .ilist_in{
	flex-direction: column;
	background-color: transparent;
	border: none;
	box-shadow: none;
	padding: 0;
	align-items: flex-start;
	row-gap: 0.625em;
}
.main .zone03 .pickup .ilist2_lower ul > li .ilist_left{
	width: 100%;
	transition: .2s;
}
.main .zone03 .pickup .ilist2_lower ul > li a:hover .ilist_left{
	opacity: 0.8;
}
.main .zone03 .pickup .ilist2_lower ul > li .ilist_left img{
	border: 1px solid var(--brown);
	border-radius: 10px;
}

@media screen and (max-width: 768px) {
	.zone03{
		padding-block: 40px 80px;
	}
	/* ピックアップ */
	.main .zone03 .pickup .ilist2_lower ul{
		gap: 1em 0.75em;
	}
	.main .zone03 .pickup .ilist2_lower ul > li{
		flex: none;
		width: calc(50% - (0.75em / 2));
	}
}

/********************** 領域4個別のスタイル **********************/
.zone04 .kanren{
	padding-top: 20px;
	margin: 0;
	margin-bottom: 80px;
}
